<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="container">
    <form [formGroup]="formLogin">
      <ion-item>
        <ion-input formControlName="email" placeholder="Email" type="email" name="email" autocorrect="on" autocomplete="on"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="password" placeholder="Contraseña" name="pass" type="password"></ion-input>
      </ion-item>
    </form>
    <div class="container-remember">
      <p>Recordar</p>
      <ion-checkbox mode="ios"></ion-checkbox>
    </div>
    <div class="container-button">
      <button (click)="login()">Acceder</button>
    </div>
  </ion-card>
</ion-content>
